|<script type="text/javascript">window.yepnope=function(e,t){function n(){}function r(e){return Object(e)===e}function o(e){return"string"==typeof e}function i(){return"yn_"+p++}function a(){f&&f.parentNode||(f=t.getElementsByTagName("script")[0])}function c(t,n){n.call(e)}function l(e,l){var u,p,m;o(e)?u=e:r(e)&&(u=e._url||e.src,p=e.attrs,m=e.timeout),l=l||n,p=p||{};var v,y,g=t.createElement("script");for(y in m=m||s.errorTimeout,g.src=u,h&&(g.event="onclick",g.id=g.htmlFor=p.id||i()),p)g.setAttribute(y,p[y]);g.onreadystatechange=g.onload=function(){if(!v&&(!(e=g.readyState)||"loaded"==e||"complete"==e||"uninitialized"==e)){if(v=1,h)try{g.onclick()}catch(e){}c(0,l)}var e;g.onload=g.onreadystatechange=g.onerror=null},g.onerror=function(){v=1,l(new Error("Script Error: "+u))},d(function(){v||(v=1,l(new Error("Timeout: "+u)),g.parentNode.removeChild(g))},m),a(),f.parentNode.insertBefore(g,f)}function u(i,c){var l,u,s={};r(i)?(l=i._url||i.href,s=i.attrs||{}):o(i)&&(l=i);var p=t.createElement("link");for(u in c=c||n,p.href=l,p.rel="stylesheet",p.media="only x",p.type="text/css",d(function(){p.media=s.media||"all"}),s)p.setAttribute(u,s[u]);a(),f.parentNode.appendChild(p),d(function(){c.call(e)})}function s(e,t,n){var o;r(e)&&(e=(o=e).src||o.href),e=s.urlFormatter(e,t),o?o._url=e:o={_url:e};var i=function(e){var t=e.split("?")[0];return t.substr(t.lastIndexOf(".")+1)}(e);if("js"===i)l(o,n);else{if("css"!==i)throw new Error("Unable to determine filetype.");u(o,n)}}var f,d=e.setTimeout,p=0,m={}.toString,h=!(!t.attachEvent||e.opera&&"[object Opera]"==m.call(e.opera));return s.errorTimeout=1e4,s.injectJs=l,s.injectCss=u,s.urlFormatter=function(e,t){var n=e,r=[],o=[];for(var i in t)t.hasOwnProperty(i)&&(t[i]?r.push(encodeURIComponent(i)):o.push(encodeURIComponent(i)));return(r.length||o.length)&&(n+="?"),r.length&&(n+="yep="+r.join(",")),o.length&&(n+=(r.length?"&":"")+"nope="+o.join(",")),n},s}(window,document);</script>
script(type="text/javascript")
	|var Hyphenopoly = {
	|   require: {
	|       ru		: "ru"
	|   },
	|   paths	: {
	|       maindir	: "/assets/templates/projectsoft/js/Hyphenopoly/",
	|       patterndir	: "/assets/templates/projectsoft/js/Hyphenopoly/patterns/"
	|   },
	|   setup	: {
	|       selectors	: {
	|           ".hyphenation"	: {
	|               "minWordLength"	: 1
	|           }
	|       }
	|   }
	|};
	|
	|yepnope('/assets/templates/projectsoft/js/app.min.js?#{hash}', undefined, function() {
	|   yepnope('/assets/templates/projectsoft/js/main.min.js?#{hash}', undefined, function() {
	|       yepnope('/assets/templates/projectsoft/js/Hyphenopoly/Hyphenopoly_Loader.js?#{hash}', undefined, function() {});
	|   })
	|});
|{{YandexMetrica}}
